body {
    font-family: monospace;
    
}

h1 {
    font-weight: lighter;
    color: #6d7a87;
    text-indent: 27%;
}

h2 {
    font-weight: lighter;
}

.container {
    display:flex;
    justify-content: center;
}

.colorbox {
    border: 1px solid lightsteelblue;
    padding: 15px;
}

.inputbox {
    display: flex;
    flex-direction: column;
    border: 1px solid lightsteelblue;
    font-weight: lighter;
    padding: 15px;
    width: 300px;
}

.preview {
    width: 350px;
    height: 150px;
}

textarea {
    background-color: #5f7289;
    margin-top: 10px;
    width: 340px;
    height: 100px;
    border-radius: 5px;
    color: #c9a6b1;
    padding: 5px;
    font-size: small;
}

.angleinput {
    border-radius: 7px;
    max-width: 30px;
    text-align: center;
    margin-left: 5px;
}

.colorinput {
    display: flex;
    justify-content: space-between;
}